.about {
    padding-top: 150px;

    @media (max-width:590px) {
        padding-top: 50px;
    }

    h2 {
        font-size: 58px;
        line-height: 64px;
        text-align: center;
    }
    
    &-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 85px;

        @media (max-width:1280px) {
            gap: 40px;
        }
    }

    &-text {
        max-width: 577px;
        width: 100%;
    
        p {
            margin-bottom: 20px;
            font-size: 23px;
            line-height: 26px;

            &:last-of-type {
                margin-bottom: 45px;
            }
        }

        ul {
            display: flex;
            gap: 5px;

            img {
                width: 40px;
                height: 40px;
            }
        }

        @media (max-width:1280px) {
            max-width: 100%;
        }
    }

    &-img {
        max-width: 480px;
        height: 704px;
        width: 100%;
        background: url(../img/about-img.png) no-repeat center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;

        figure {
            width: 368px;
        }

        @media (max-width:768px) {
            background: none;
            padding: 0;
            height: auto;
            margin-top: 30px;
        }
    }
}