.hero {
    padding-top: 45px;

    &-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 130px;

        @media (max-width:1280px) {
            gap: 50px;
        }
    }

    &-text {
        max-width: 587px;
        width: 100%;

        h1 {
            font-size: 66px;
            line-height: 73px;

            @media (max-width:590px) {
                font-size: 50px;
                line-height: 50px;
            }
        }

        p {
            margin: 50px 0 62px;
            font-size: 32px;
            line-height: 37px;
        }

        button {
            font-family: var(--ff-inter);
            font-size: 15px;
            line-height: 18px;
            color: var(--color-white);
            background: #283445;
            position: relative;
            width: 202px;
            padding: 14px 0;

            &::before {
                position: absolute;
                content: "";
                background: url(../assets/btn-border.png) no-repeat;
                z-index: -1;
                z-index: -1;
                height: 48px;
                width: 203px;
                top: 5px;
                left: -5px;
            }
        }

        a {
            padding: 14px 58px;
            background: #283445;
        }

        @media (max-width:1280px) {
            max-width: 100%;
        }
    }

    &-img {
        max-width: 400px;
        height: 569px;
        width: 100%;
        background: url(../assets/hero-img.png) no-repeat center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 20px;

        figure {
            width: 368px;
        }

        @media (max-width:768px) {
            background: none;
            padding: 0;
            height: auto;
        }
    }
}