.request {

    @media (max-width:590px) {
        padding-top: 50px;
    }

    &-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 70px;

        @media (max-width:1280px) {
            gap: 40px;
        }
    }

    &-text {
        max-width: 460px;
        width: 100%;

        h3 {
            font-size: 54px;
            line-height: 60px;
            margin-bottom: 23px;
        }



        button {
            font-family: var(--ff-inter);
            font-size: 15px;
            line-height: 18px;
            color: var(--color-white);
            background: #283445;
            width: 200px;
            padding: 14px 0;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                background: url(../assets/btn-border.png) no-repeat;
                z-index: -1;
                height: 48px;
                width: 203px;
                top: 5px;
                left: -5px;
            }

            @media (max-width:1173px) {
                
            }
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        input {
            width: 100%;
            margin-bottom: 14px;
            border: 1px solid transparent;
            border-bottom: 1px solid;
            padding: 15px 10px;
            font-family: inherit;
            outline: none;
            transition: .3s linear;

            &:focus,
            &:active {
                border: 1px solid var(--color-grey);
            }
        }

        textarea {
            width: 100%;
            height: 100px;
            border: 1px solid transparent;
            padding: 15px 10px;
            border-bottom: 1px solid;
            margin-bottom: 50px;
            outline: none;
            transition: .8s linear;

            &:focus,
            &:active {
                border: 1px solid var(--color-grey);
            }
        }
    }

    &-img {
        max-width: 634px;
        height: 728px;
        width: 100%;
        background: url(../assets/request-img.png) no-repeat center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 61px 52px 0;

        figure {
            max-width: 544px;
            width: 100%;
        }

        @media (max-width:768px) {
            background: none;
            padding: 0 0px 52px 0;
            height: auto;
        }
    }
}